<!-- Page navigation for all my pages -->
<nav>
    <a class="button" routerLink="" 
	routerLinkActive="activebutton">Logout</a>
	<a class="button" routerLink="/Homepage" 
	routerLinkActive="activebutton">HomePage</a>
	<a class="button"routerLink="/Profilepage"
	routerLinkActive="activebutton">ProfilePage</a> 
	<a class="button"routerLink="/AdminPanel"
	routerLinkActive="activebutton">AdminPanel</a> 
	<a class="button"routerLink="/TrainingPage"
	routerLinkActive="activebutton">TrainingPage</a>
	<a class="button"routerLink="/Items"
	routerLinkActive="activebutton">Items</a>
	<a class="button"routerLink="/Shop"
	routerLinkActive="activebutton">Shop</a>
  </nav>
  <hr>
