<div [ngClass]="{'chat-container': true, 'minimized': !showChatContent}" *ngIf="currentUrl !== '/'">
  <div class="chat-header">
    <button (click)="showChatContent = !showChatContent">
      {{showChatContent ? 'Minimize Chat' : 'Open Chat'}}
    </button>
  </div>
  <div class="chat-content" *ngIf="showChatContent">
    <div class="chat-input">
      <textarea [(ngModel)]="newMessage" rows="2" placeholder="Type a message..."(keyup.enter)="sendMessage()"></textarea>
      <button (click)="sendMessage()">Send</button>
    </div>
    <div class="chat-messages">
      <div *ngFor="let message of messages; index as i">
        <p><strong>{{message.user?.email}}</strong>: {{message.content}}</p>
      </div>
    </div>
  </div>
</div>
