<p>training-page works!</p>
<li>Strength: {{strength}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('strength')">Train</button>
</li>
<li>Speed: {{speed}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('speed')">Train</button>
</li>
<li>Defense: {{defense}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('defense')">Train</button>
</li>
<li>Dexterity: {{dexterity}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('dexterity')">Train</button>
</li>