
<li>Strength: {{strength}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('strength')">Train</button> Cost 1 Energy
</li>
<li>Speed: {{speed}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('speed')">Train</button> Cost 1 Energy
</li>
<li>Defense: {{defense}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('defense')">Train</button> Cost 1 Energy
</li>
<li>Dexterity: {{dexterity}}
    <button class="btn btn-xs btn-danger" (click)="updateUserStats('dexterity')">Train</button> Cost 1 Energy
</li>

<li>Energy: {{energy}}/72</li>