<div class="container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="Login()">
    <label>
      Username:
      <input type="text" formControlName="email">
    </label>
    <label>
      Password:
      <input type="text" formControlName="password">
    </label>
    <button type="submit">Submit</button>
  </form>
  <hr>

  <h2>Register</h2>
  <p>Please fill in this form to create an account.</p>
  <form [formGroup]="userForm1" (ngSubmit)="createUser()">
    <label>
      Username:
      <input type="text" formControlName="email">
    </label>
    <label>
      Password:
      <input type="text" formControlName="password">
    </label>
    <button type="submit">Submit</button>
  </form>
  <hr>
</div>
