<h2>Login</h2>

<form [formGroup]="loginForm" (ngSubmit)="Login()">

    <label #email>
      Username:
      <input type="text" formControlName="email">
    </label>
  <br>
    <label #password>
      Password:
      
      <input type="text" formControlName="password">
    </label>
  <br>
    <button type="submit">Submit</button>
  
</form>

<p>{{velkommen}}</p> 
<p>{{email}}</p>

  <h2>Register</h2>
<p>Please fill in this form to create an account.</p>
<hr>

<label for="email"><b>Email</b></label>
<input type="text" placeholder="Enter Email" name="email" id="email" required>

<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" id="psw" required>

